<h3>Resultados da busca:</h3>
<div class="card mt-4">
    <div class="card-body">
      <h1>Node</h1>
      <hr>
      <small>Data de publicação: Data: Tue Jan 07 2020 15:29:46 GMT-0300 (GMT-03:00)</small><br>
      <hr>
      Categoria: Marketing<br>
      <a href="/admin/postagens"><button  class="btn btn-primary pull-right mt-4" 
    id="btnContactUs">Gerenciar Categoarias</button></a>
    </div><br>
    
</div>