{{#each erros}}
   <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<form action="/admin/contatos" method="POST">
    <div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Entre em contato conosco <small></small></h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Nome</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email </label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Motivo</label>
                            <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Qualquer</option>
                                <option value="service">Sujestão</option>
                                <option value="suggestions">Reclamação</option>                    
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Mensagem</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Escreva aqui"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Enviar</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span> </legend>
            <address>
                <strong>Blogasso</strong><br>
                Rua 31 de Ozembro 1999<br>
                Centro, Picos PI<br>
                <abbr title="Phone">
                    </abbr>
                (89) 3422-0000
                (89) 99999-9999
            </address>
            <address>
                <strong>Suporte por email:</strong><br>
                <a href="mailto:#">suporte@blogasso.com</a>
            </address>
            </form>
        </div>
    </div>
</div>

</form>