<h1 class="h1">
        Sobre nós! <small></small>
</h1>
<div class="card">
     <div class="card-body">
         <h3>Nossa missão:</h3><hr>
         <p>Nossa missão é ajudar você a utilizar todo o potencial da Internet para disseminar conhecimento
            ,para prosseguir na vida com propósito e grandes realizações.</p><br><br>

        <h3>Quem somos?</h3><hr>
        <p>Somos uma equipe de programadores dedicados a garantir a melhor experiência a você com o a criação
            e manuteção de Blogs, somos compostos de 2 integrantes:<br>
            <h6>Jackson Matias dos Santos Lima</h6>   
            <h6>Geraldo da Silva Santos</h6>         
        </p>

        
          
     </div>
</div>
            